:root {
--primary-color: red;
--secondary-color: black;
--tertiary-color: silver;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: monospace;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.section-heading {
    font-size: 60px;
    border-right: 5px solid var(--secondary-color);
    margin-right: 20px;
    text-align: right;
    padding-right: 20px;
}
.align-background{
background-position: center;
background-size: cover;
}
.small-tile {
    height: 180px;
}
.section-heading{
    font-size: 50px;
}

section {
    padding: 50px 50px;
}

.header {
    padding: 25px 0px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header h1 {
    background-color: var(--tertiary-color);
    padding: 10px;
    font-size: 60px;
    align-items: flex-start;
}
.header nav {
    font-size: 40px;
}
.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.header nav ul li {
    margin-right: 50px;
}


.cool-tag {
    height: 30%;
    display: flex;
    padding: 50px;
    justify-content: right;
    align-items: flex-end;
    font-size: 45px;
    background-image: url(.//images/IMG_2840.JPG);
}

.cool-tag div {
    padding: 25px;
    height: auto;
}
.cool-tag h2 {
    background-color: var(--tertiary-color);
    padding: 30px;
    width: auto;
}
.about {
    display: flex;

}

.section-heading {
    font-size: 60px;
    border-right: 5px solid var(--secondary-color);
    margin-right: 20px;
    text-align: right;
    padding-right: 20px;
}
.about p {
    font-size: 52px;
    text-align: center;
    
}


.work {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);

}
.work h3{
    background-color: var(--primary-color);
    padding: 20px;
    width: auto;  
}
.work .section-heading {
    border-right: 5px solid var(--primary-color)
}

.work-tiles {
    font-size: 34px;
    display: flex;
    flex-wrap: wrap;
    width: 1 75%;
}

.work-tiles>:first-child {
    flex: 1 100%;
}

.work-tiles>:not(:first-child){
    flex: 1 40%;
    height: 200;
  
}
.work-tile {
    margin: 10px;
    padding-bottom: 50px;
    border: 3px solid var(--tertiary-color);
    display: flex;
    align-items: flex-end;
    justify-content: start;
}

.tile-title {
    background-color: var(--primary-color);
    padding: 5px;
    justify-content: center;
    display: flex;
    
}
.tile-title h3  {
    background-color: var(--primary-color);
    font-size: 29px;
}

#RunBuddy {
    background-image: url(.//images/hero-bg.jpg);
    height: 575px;
}
#RunBuddy:hover {
    opacity: 0.65;
}
#Horiseon {
    background-image: url(.//images/digital-marketing-meeting.jpg);
}
#Horiseon:hover {
    opacity: 0.65;
}

#JavaScript {
    background-image: url(./images/IMG_2837.JPG);
}

#JavaScript:hover {
opacity: 0.65;
}
#Python{
    background-image: url(./images/IMG_2838.JPG);
}
#Python:hover{
opacity: 0.65;
}
#Html-Css{
    background-image: url(.//images/IMG_2839.JPG);
}
#Html-Css:hover{
    opacity: 0.65;
}

 .contact {
display: flex;
justify-content: center;
}

.contact a {
color: var(--primary-color);
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 75%;
}
.contact h2 {
    font-size: 40px;
    padding: 30px;
    width: auto;  
}
